.header {
  background-color: $color-grey-light-1;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 4rem;
    display: block;
  }
}

.search {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  transition: all 0.3s;
  padding-left: 3rem;

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-grey-dark-1, 0.08);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }
  }
}

.nav {
  align-self: stretch;

  &__list {
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
  }

  &__btn {
    height: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    transition: all 0.3s;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $color-grey-light-2;
    }
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: $color-main;
  }
}
